body {
    background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url("./images/inventory_img.jpg");
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

ul {
    margin: 5%;
    list-style-type: none;
}

li {
    text-decoration: none;
    font-size: 25px;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: red;
}